.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  min-height: 100%;
}

.loader-container p {
  color: var(--text-primary);
  font-weight: 500;
}

.loader-spinner {
  border: 8px solid var(--background);
  border-top: 8px solid var(--azul-brasil);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}