.loader-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  min-height: 400px;
  gap: 1.5rem;
  padding-top: 2rem;
}

.skeleton-total {
  width: 100%;
  height: 9rem;
  border-radius: 0.75rem;
  background: linear-gradient(90deg, #ececec 25%, #f5f5f5 50%, #ececec 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.2s infinite linear;
  margin-bottom: 1rem;
}

.skeleton-bar {
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #ececec 25%, #f5f5f5 50%, #ececec 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.2s infinite linear;
  margin-bottom: 0.5rem;
  &.short {
    height: 5rem;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
