<header [class.home-hero]="router.url === '/' || router.url === '/gastos-detalhados'">
  <div class="header-content">
    <a routerLink="/">
      <img src="/images/logo.webp" alt="BT Logo" class="header-image" />
    </a>

    @if(router.url === '/' || router.url === '/gastos-detalhados'){
    <nav class="report-nav">
      <a
        routerLink="/"
        class="report-button report-button-text-center"
        [class.active]="router.url === '/'"
      >
        Resumo dos Gastos
      </a>
      <a
        routerLink="/gastos-detalhados"
        class="report-button report-button-text-center"
        [class.active]="router.url === '/gastos-detalhados'"
      >
        Gastos Detalhados
      </a>
    </nav>
    }
  </div>
</header>
