header {
  background: linear-gradient(135deg, #002776 70%, #003399);
  padding: 1.5rem 2rem;
  color: white;
  box-shadow: var(--card-shadow);
}

.header-image {
  margin-top: -0.7em;
  width: auto;
  height: auto;
  max-width: 100%;
}

.header-content {
  place-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 2rem;
}

.report-nav {
  border-top: 0.15em solid white;
  padding-top: 1rem;
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -1rem;
}

.report-button {
  padding: 0.9rem 1.6rem;
  border: none;
  border-radius: 8px;
  background: white;
  color: var(--azul-brasil);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: var(--card-shadow);
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;
  width: 200px;
  height: 50px;
}

.report-button:first-child {
  display: grid;
  padding: 0 1em;
  background: var(--azul-brasil);
  color: white;
  border: 2.5px solid white;
}

.report-button:first-child:hover {
  background: white;
  color: var(--azul-brasil);
}

.report-button img {
  height: 35px;
  vertical-align: middle;
  margin-left: -7.5px;
  grid-column: 1;
}

.report-button span {
  text-align: left;
  grid-column: 2;
}

.report-button-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-button:hover {
  transform: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.1);
  background: var(--amarelo-ouro);
}

.report-button:active {
  transform: translateY(2px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.report-button.active {
  background: var(--amarelo-ouro);
  color: var(--azul-brasil);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: default;
}

.report-button.active:hover {
  transform: none;
  background: var(--amarelo-ouro);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.report-button i {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

/* Mobile Phone */
@media (max-width: 550px) {
  header {
    padding: 0 !important;
  }

  .header-content {
    padding: 1rem 0 !important;
    margin: 0;
    width: 100%;
  }

  .header-image {
    margin-top: 0.8rem;
    width: auto;
    height: auto;
    max-width: 100%;
  }

  .report-nav {
    width: 80%;
    padding-top: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
  }

  .report-button {
    width: 70%;
    height: 40px;
    padding: 0.85rem;
    font-size: 0.8rem;
  }

  .report-button img {
    height: 30px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .report-nav {
    width: 70%;
    padding-top: 1.5rem;
    margin-top: 1rem;
    gap: 1rem;
  }
}
