<main>
    <div class="content-container">
        <div class="layout-renuncia">
            <div class="total-card-renuncia">
                <h2>Renúncias Fiscais em 2024</h2>
                <div class="total-value">
                    {{ formatCurrency(valorTotal()) }}
                </div>
            </div>
            <div class="disclaimer-card">
                <h3>O que é renúncia fiscal?</h3>
                <p>
                    Não é despesa paga, é receita que o governo deixa de arrecadar 
                    porque concedeu algum tipo de benefício, incentivo ou isenção tributária.
                </p>
            </div>
        </div>

        <div class="tabela-container">
            @if(isLoading()){
                 <app-carregando-dados />
            }
            
            <table>
                <thead>
                    <tr>
                        <th>Beneficiário</th>
                        <th>CNPJ</th>
                        <th class="text-right">Valor Renunciado</th>
                    </tr>
                </thead>
                <tbody>
                    @for(item of renunciasPaginadas(); track item.renunciaFiscalId) {
                        <tr>
                            <td data-label="Beneficiário">{{ item.beneficiario }}</td>
                            <td data-label="CNPJ">{{ item.cnpj }}</td>
                            <td data-label="Valor Renunciado" class="text-right">{{ formatCurrency(item.valorRenunciado) }}</td>
                        </tr>
                    } @empty {
                        @if (!isLoading()) {
                            <tr>
                                <td colspan="3" class="text-center">Nenhum registro encontrado.</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @if(totalPaginas() > 0) {
            <div class="pagination-controls">
                <button (click)="paginaAnterior()" [disabled]="paginaAtual() === 1">
                    Anterior
                </button>
                <span>Página {{ paginaAtual() }} de {{ totalPaginas() }}</span>
                <button (click)="proximaPagina()" [disabled]="paginaAtual() === totalPaginas()">
                    Próxima
                </button>
            </div>
        }
    </div>
</main>