<div class="bar-container">
  <span
    class="bar-label"
    [class.bar-label-final]="isLastLevel()"
    [style.cursor]="isLastLevel() ? 'default' : 'pointer'"
    (click)="onToggle()"
    tabindex="0"
    (keypress.space)="onToggle()"
    [innerHTML]="
      isLastLevel()
        ? name()
        : name() + ' <i class=\'fas fa-' + (isBarExpanded() ? 'minus' : 'plus') + '\'></i>'
    "
  ></span>
  <div
    class="bar"
    [style.width.%]="percentageOfTotal()"
    [style.backgroundColor]="barColor()"
    (mouseenter)="showRawTotal.set(true)"
    (mouseleave)="showRawTotal.set(false)"
  >
    {{
      showRawTotal() ? formatCurrency(totalValueSpent()) : formatLargeCurrency(totalValueSpent())
    }}
    ({{ percentageOfTotal() | number : '1.2-2' }}%)
  </div>

  @if(isBarExpanded() && !isLastLevel()) {
  <div class="children-container">
    <ng-content></ng-content>
  </div>
  }
</div>
